@charset "utf-8";
/* CSS Document */

.main {max-width: 800px; min-height: 625px; margin-left: auto; margin-right: auto; text-align: center}
.main h1 {font-family: 'Museo'; color: #873E3E}
.main p {font-family: 'Roboto'}

.love-story {background: rgba(255,220,221,0.95); overflow: hidden}
.love-story-left {text-align: center; padding-top: 60px; height: 350px; background: rgba(255,255,255,1); border: 1px solid rgba(204,204,204,1)}
.love-story-left h2 {font-family: 'Museo'; color: #873E3E}
.love-story-left .love-story-button {position: relative; top: 15px; width: 150px; height: 35px; margin: auto; background: #ddb6b6; padding-top: 8px; transition: 0.25s}
.love-story-left .love-story-button:hover {-webkit-transform: scale(1.1)}
.love-story-left .love-story-button:hover a {color: #fff}

.love-story-mid {animation-delay: 1s}
.love-story-mid p {color: rgba(0,0,0,0.7)}
.love-story-mid h3 {font-family: 'Museo'; color: #873E3E; text-align: center}
.love-story-mid h4 {font-family: 'Museo'; color: #873E3E; text-align: center}
.love-story-mid .carousel-indicators {position: relative}

.love-story-right {animation-delay: 0.3s; overflow: hidden}

.vector-left {position: absolute; bottom: -30px; left: -50px; background: url(../images/home/story/vector-left.png) no-repeat center; background-size: cover; width: 240px; height: 229px}
.vector-right {position: absolute; right: -50px; top: -20px; background: url(../images/home/story/vector-right.png) no-repeat center; background-size: cover; width: 200px; height: 191px}

.register {background: rgba(255,221,222,0.95) url(../images/home/form/form-background.png) no-repeat center; background-size: cover; overflow: hidden}
.register-right {background: url(../images/home/form/right-vector.png) no-repeat center; background-size: cover; width: 200px; height: 400px; position: absolute; top: 50px; right: -100px}
.register-left {background: url(../images/home/form/left-vector.png) no-repeat center; background-size: cover; width: 200px; height: 400px; position: absolute; top: 50px; left: -100px}

.wedding-invitation-img 

.member-img {width: 200px; float: right}

.section-about-us {background: #FFDDDE; overflow: hidden}

.scroll-up {width: 350px; margin: auto; position: relative; top: 30px}
.scroll-up a {color: #fff; transition: 0.3s}
.scroll-mid {width: 350px; margin: auto; position: relative; top: 35px}
.scroll-mid a {color: #fff; transition: 0.3s}
.scroll-down {width: 350px; margin: auto; position: relative; top: 40px}
.scroll-down a {color: #fff; transition: 0.3s}

.scroll-text {text-align: center; background: #ddb6b6}

.the-groom .the-groom-content {max-width: 500px; margin: auto}
.the-groom .the-groom-content h1 {font-family: 'Humble'; font-size: 45pt; color: #fff}
.the-groom .the-groom-content #harry {font-family: 'Museo'; color: #fff}
.the-groom .the-groom-content #the-groom {font-family: 'Museo'; color: #FFA7A8}

.service-text {margin: auto; width: 80%}

#service {}
#service-02 {}

#photography h1 {font-family: 'Museo'; color: #873E3E; text-align: center}
#wedding-dress h1 {font-family: 'Museo'; color: #873E3E; text-align: center}
#bride-makeup h1 {font-family: 'Museo'; color: #873E3E; text-align: center}
#wedding-package h1 {font-family: 'Museo'; color: #873E3E; text-align: center}
#decorate-wedding h1 {font-family: 'Museo'; color: #873E3E; text-align: center}
#wedding-invitation h1 {font-family: 'Museo'; color: #873E3E; text-align: center}

#photography {overflow: hidden}
#wedding-dress {overflow: hidden}
#bride-makeup {overflow: hidden}
#wedding-package {overflow: hidden}
#decorate-wedding {overflow: hidden}
#wedding-invitation {overflow: hidden}

#photography p {color: rgba(0,0,0,0.7)}
#wedding-dress p {color: rgba(0,0,0,0.7)}
#bride-makeup p {color: rgba(0,0,0,0.7)}
#wedding-package p {color: rgba(0,0,0,0.7)}
#decorate-wedding p {color: rgba(0,0,0,0.7)}
#wedding-invitation p {color: rgba(0,0,0,0.7)}

#register h2 {font-family: 'Museo'; color: #873E3E}
#register button {transition: 0.2s}
#register button:hover {color: #fff; font-size: 11.5pt}

#myCarousel {width: 370px; margin: auto; border: 1px solid rgba(204,204,204,1)}
#myCarousel .item {max-height: 350px}

#groom {position: absolute; width: 37%; height: 40%; bottom: 60%; right: 70%; animation-duration: 2s}
#bride {position: absolute; width: 38%; height: 40%; bottom: 60%; left: 70%; animation-duration: 2s}

footer {background: #ddb6b6; background-image: linear-gradient(rgba(225,225,225,0.50), #ddb6b6, rgba(225,225,225,0.50))}
footer h1 {font-family: 'Museo'; color: #873E3E}
footer p {color: rgba(0,0,0,0.7)}

@media (max-height: 768px) {
.main-section {max-height: 600px}
.main .pizza {max-width: 430px}
}
@media (max-height: 720px) {
.main-section {max-height: 568px}
.main .pizza {max-width: 410px}
}
@media (max-width: 1024px) {
.service-text {margin: auto; width: 100%}
.scroll-up {width: 350px; margin: auto; position: relative; top: 10px}
.scroll-mid {width: 350px; margin: auto; position: relative; top: 15px}
.scroll-down {width: 350px; margin: auto; position: relative; top: 20px}

}
@media (min-width: 992px) {
.photography-img {padding-left: 0 !important}
.wedding-dress-img {padding-right: 0 !important}
.bride-makeup-img {padding-left: 0 !important}
.wedding-package-img {padding-right: 0 !important}
.decorate-wedding-img {padding-left: 0 !important}
.wedding-invitation-img {padding-right: 0 !important}
}
@media (max-width: 992px) {
.love-story-left {position: relative; bottom: 40px}
#groom {display: none}
#bride {display: none}
.vector-left {display: none}
.vector-right {display: none}
.scroll-up {display: none}
.scroll-mid {display: none}
.scroll-down {display: none}
}
@media screen and (max-width: 767px) {
.register-right {display: none}
.register-left {display: none}
}
@media (max-width: 480px) {
#myCarousel {width: 280px}
.main {min-height: 500px}
.the-groom .the-groom-content h1 {font-size: 30pt}
}
@media (max-width: 375px) {
.main {min-height: 400px}
}

/* FORM */
.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 10px;
    background: #ddb6b6;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid #ddb6b6;
}

/* Set a style for the submit button */
.btn {
    background-color: #C07777;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}